body
{
    font-family: Arial, Helvetica, sans-serif;
    color: navy;
    background-color: rgb(0, 0, 26);
    font-size: 15px;
}
h1
{
    color: purple;
    font-size: 300%;
    font-weight: normal;
}
h2
{
    color: green;
    font-size: 120%;
}
strong
{
    color: crimson;
}
em
{
    color: deepskyblue;
}
p
{
    font-weight: bold;
    font-style: italic;
}
