body
{
    background-color: moccasin; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
p
{
    color: crimson;
}
h1
{
    background-color: whitesmoke;
    color: darkslategray;
}
h2
{
    color: tomato;
}
h3
{
    color: white;
}